openapi: 3.0.3
info:
  title: 'Jump Into Job'
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://api.jumpintojob.com'
paths:
  /api/v1/auth/user/login:
    post:
      summary: 'fields required: email, password, remember_me'
      operationId: fieldsRequiredEmailPasswordRememberMe
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  result: false
                  message: 'User not found'
                  user: null
                properties:
                  result:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'User not found'
                  user:
                    type: string
                    example: null
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'Must be a valid email address.'
                  example: roberts.mckenzie@example.org
                password:
                  type: string
                  description: 'Must be at least 6 characters.'
                  example: 'tsXQwNo,FIZ&EIqzd&g{'
                remember_me:
                  type: boolean
                  description: ''
                  example: false
              required:
                - email
                - password
      security: []
  /api/v1/auth/job-seeker/signup:
    post:
      summary: "new user sign up endpoint\nparams: first_name, last_name, email, password, password_confirmation, register_by, g-recaptcha-response"
      operationId: newUserSignUpEndpointparamsFirstNameLastNameEmailPasswordPasswordConfirmationRegisterByGRecaptchaResponse
      description: ''
      parameters: []
      responses:
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Minimum 6 digits required for password (and 1 more error)'
                  errors:
                    password:
                      - 'Minimum 6 digits required for password'
                      - 'Password confirmation does not match'
                properties:
                  message:
                    type: string
                    example: 'Minimum 6 digits required for password (and 1 more error)'
                  errors:
                    type: object
                    properties:
                      password:
                        type: array
                        example:
                          - 'Minimum 6 digits required for password'
                          - 'Password confirmation does not match'
                        items:
                          type: string
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                  description: ''
                  example: magni
                last_name:
                  type: string
                  description: ''
                  example: itaque
                password:
                  type: string
                  description: ''
                  example: odit
                user_type:
                  type: string
                  description: ''
                  example: job_seeker
                  enum:
                    - job_seeker
                email:
                  type: string
                  description: 'This field is required when <code>register_by</code> is <code>email</code>.'
                  example: null
                verification_code:
                  type: string
                  description: ''
                  example: null
                user_plan_id:
                  type: string
                  description: ''
                  example: null
                new_email_verification_code:
                  type: string
                  description: ''
                  example: null
                referral_code:
                  type: string
                  description: ''
                  example: null
                g-recaptcha-response:
                  type: string
                  description: ''
                  example: null
              required:
                - first_name
                - last_name
                - password
      security: []
  /api/v1/auth/employer/signup:
    post:
      summary: "new user sign up endpoint\nparams: first_name, last_name, email, password, password_confirmation, register_by, g-recaptcha-response"
      operationId: newUserSignUpEndpointparamsFirstNameLastNameEmailPasswordPasswordConfirmationRegisterByGRecaptchaResponse
      description: ''
      parameters: []
      responses:
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Password confirmation does not match'
                  errors:
                    password:
                      - 'Password confirmation does not match'
                properties:
                  message:
                    type: string
                    example: 'Password confirmation does not match'
                  errors:
                    type: object
                    properties:
                      password:
                        type: array
                        example:
                          - 'Password confirmation does not match'
                        items:
                          type: string
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                  description: ''
                  example: null
                last_name:
                  type: string
                  description: ''
                  example: null
                name:
                  type: string
                  description: ''
                  example: consequatur
                slug:
                  type: string
                  description: ''
                  example: nisi
                company_type:
                  type: string
                  description: ''
                  example: qui
                password:
                  type: string
                  description: ''
                  example: accusamus
                user_type:
                  type: string
                  description: ''
                  example: employer
                  enum:
                    - employer
                email:
                  type: string
                  description: 'Must be a valid email address.'
                  example: mike05@example.com
                verification_code:
                  type: string
                  description: ''
                  example: null
                user_plan_id:
                  type: string
                  description: ''
                  example: null
                new_email_verification_code:
                  type: string
                  description: ''
                  example: null
                referral_code:
                  type: string
                  description: ''
                  example: null
                g-recaptcha-response:
                  type: string
                  description: ''
                  example: null
              required:
                - name
                - slug
                - company_type
                - password
                - email
      security: []
  /api/v1/auth/social-signin:
    post:
      summary: ''
      operationId: postApiV1AuthSocialSignin
      description: ''
      parameters: []
      responses:
        500:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Trying to access array offset on value of type null'
                  exception: ErrorException
                  file: 'C:\laragon\www\jumpintojob-backend\app\Http\Controllers\api\v1\AuthController.php'
                  line: 437
                  trace:
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Foundation\Bootstrap\HandleExceptions.php'
                      line: 255
                      function: handleError
                      class: Illuminate\Foundation\Bootstrap\HandleExceptions
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\app\Http\Controllers\api\v1\AuthController.php'
                      line: 437
                      function: 'Illuminate\Foundation\Bootstrap\{closure}'
                      class: Illuminate\Foundation\Bootstrap\HandleExceptions
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Routing\Controller.php'
                      line: 54
                      function: socialSignIn
                      class: App\Http\Controllers\api\v1\AuthController
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Routing\ControllerDispatcher.php'
                      line: 43
                      function: callAction
                      class: Illuminate\Routing\Controller
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Routing\Route.php'
                      line: 259
                      function: dispatch
                      class: Illuminate\Routing\ControllerDispatcher
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Routing\Route.php'
                      line: 205
                      function: runController
                      class: Illuminate\Routing\Route
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                      line: 806
                      function: run
                      class: Illuminate\Routing\Route
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 144
                      function: 'Illuminate\Routing\{closure}'
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Routing\Middleware\SubstituteBindings.php'
                      line: 50
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 183
                      function: handle
                      class: Illuminate\Routing\Middleware\SubstituteBindings
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Routing\Middleware\ThrottleRequests.php'
                      line: 159
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Routing\Middleware\ThrottleRequests.php'
                      line: 125
                      function: handleRequest
                      class: Illuminate\Routing\Middleware\ThrottleRequests
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Routing\Middleware\ThrottleRequests.php'
                      line: 87
                      function: handleRequestUsingNamedLimiter
                      class: Illuminate\Routing\Middleware\ThrottleRequests
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 183
                      function: handle
                      class: Illuminate\Routing\Middleware\ThrottleRequests
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 119
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                      line: 805
                      function: then
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                      line: 784
                      function: runRouteWithinStack
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                      line: 748
                      function: runRoute
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                      line: 737
                      function: dispatchToRoute
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                      line: 200
                      function: dispatch
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 144
                      function: 'Illuminate\Foundation\Http\{closure}'
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\barryvdh\laravel-debugbar\src\Middleware\InjectDebugbar.php'
                      line: 59
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 183
                      function: handle
                      class: Barryvdh\Debugbar\Middleware\InjectDebugbar
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TransformsRequest.php'
                      line: 21
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull.php'
                      line: 31
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 183
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TransformsRequest.php'
                      line: 21
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TrimStrings.php'
                      line: 40
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 183
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TrimStrings
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\ValidatePostSize.php'
                      line: 27
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 183
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\ValidatePostSize
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance.php'
                      line: 99
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 183
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Http\Middleware\HandleCors.php'
                      line: 62
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 183
                      function: handle
                      class: Illuminate\Http\Middleware\HandleCors
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Http\Middleware\TrustProxies.php'
                      line: 39
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 183
                      function: handle
                      class: Illuminate\Http\Middleware\TrustProxies
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 119
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                      line: 175
                      function: then
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                      line: 144
                      function: sendRequestThroughRouter
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                      line: 300
                      function: handle
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                      line: 288
                      function: callLaravelOrLumenRoute
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                      line: 91
                      function: makeApiCall
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                      line: 44
                      function: makeResponseCall
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                      line: 35
                      function: makeResponseCallIfConditionsPass
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                      line: 236
                      function: __invoke
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                      line: 163
                      function: iterateThroughStrategies
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                      line: 95
                      function: fetchResponses
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                      line: 125
                      function: processRoute
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                      line: 72
                      function: extractEndpointsInfoFromLaravelApp
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                      line: 50
                      function: extractEndpointsInfoAndWriteToDisk
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\knuckleswtf\scribe\src\Commands\GenerateDocumentation.php'
                      line: 53
                      function: get
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                      line: 36
                      function: handle
                      class: Knuckles\Scribe\Commands\GenerateDocumentation
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Container\Util.php'
                      line: 41
                      function: 'Illuminate\Container\{closure}'
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                      line: 93
                      function: unwrapIfClosure
                      class: Illuminate\Container\Util
                      type: '::'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                      line: 35
                      function: callBoundMethod
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Container\Container.php'
                      line: 662
                      function: call
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Console\Command.php'
                      line: 211
                      function: call
                      class: Illuminate\Container\Container
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\symfony\console\Command\Command.php'
                      line: 326
                      function: execute
                      class: Illuminate\Console\Command
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Console\Command.php'
                      line: 180
                      function: run
                      class: Symfony\Component\Console\Command\Command
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\symfony\console\Application.php'
                      line: 1096
                      function: run
                      class: Illuminate\Console\Command
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\symfony\console\Application.php'
                      line: 324
                      function: doRunCommand
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\symfony\console\Application.php'
                      line: 175
                      function: doRun
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Foundation\Console\Kernel.php'
                      line: 201
                      function: run
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\artisan'
                      line: 35
                      function: handle
                      class: Illuminate\Foundation\Console\Kernel
                      type: '->'
                properties:
                  message:
                    type: string
                    example: 'Trying to access array offset on value of type null'
                  exception:
                    type: string
                    example: ErrorException
                  file:
                    type: string
                    example: 'C:\laragon\www\jumpintojob-backend\app\Http\Controllers\api\v1\AuthController.php'
                  line:
                    type: integer
                    example: 437
                  trace:
                    type: array
                    example:
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Foundation\Bootstrap\HandleExceptions.php'
                        line: 255
                        function: handleError
                        class: Illuminate\Foundation\Bootstrap\HandleExceptions
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\app\Http\Controllers\api\v1\AuthController.php'
                        line: 437
                        function: 'Illuminate\Foundation\Bootstrap\{closure}'
                        class: Illuminate\Foundation\Bootstrap\HandleExceptions
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Routing\Controller.php'
                        line: 54
                        function: socialSignIn
                        class: App\Http\Controllers\api\v1\AuthController
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Routing\ControllerDispatcher.php'
                        line: 43
                        function: callAction
                        class: Illuminate\Routing\Controller
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Routing\Route.php'
                        line: 259
                        function: dispatch
                        class: Illuminate\Routing\ControllerDispatcher
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Routing\Route.php'
                        line: 205
                        function: runController
                        class: Illuminate\Routing\Route
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                        line: 806
                        function: run
                        class: Illuminate\Routing\Route
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 144
                        function: 'Illuminate\Routing\{closure}'
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Routing\Middleware\SubstituteBindings.php'
                        line: 50
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 183
                        function: handle
                        class: Illuminate\Routing\Middleware\SubstituteBindings
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Routing\Middleware\ThrottleRequests.php'
                        line: 159
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Routing\Middleware\ThrottleRequests.php'
                        line: 125
                        function: handleRequest
                        class: Illuminate\Routing\Middleware\ThrottleRequests
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Routing\Middleware\ThrottleRequests.php'
                        line: 87
                        function: handleRequestUsingNamedLimiter
                        class: Illuminate\Routing\Middleware\ThrottleRequests
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 183
                        function: handle
                        class: Illuminate\Routing\Middleware\ThrottleRequests
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 119
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                        line: 805
                        function: then
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                        line: 784
                        function: runRouteWithinStack
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                        line: 748
                        function: runRoute
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                        line: 737
                        function: dispatchToRoute
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                        line: 200
                        function: dispatch
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 144
                        function: 'Illuminate\Foundation\Http\{closure}'
                        class: Illuminate\Foundation\Http\Kernel
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\barryvdh\laravel-debugbar\src\Middleware\InjectDebugbar.php'
                        line: 59
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 183
                        function: handle
                        class: Barryvdh\Debugbar\Middleware\InjectDebugbar
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TransformsRequest.php'
                        line: 21
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull.php'
                        line: 31
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 183
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TransformsRequest.php'
                        line: 21
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TrimStrings.php'
                        line: 40
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 183
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\TrimStrings
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\ValidatePostSize.php'
                        line: 27
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 183
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\ValidatePostSize
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance.php'
                        line: 99
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 183
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Http\Middleware\HandleCors.php'
                        line: 62
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 183
                        function: handle
                        class: Illuminate\Http\Middleware\HandleCors
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Http\Middleware\TrustProxies.php'
                        line: 39
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 183
                        function: handle
                        class: Illuminate\Http\Middleware\TrustProxies
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 119
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                        line: 175
                        function: then
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                        line: 144
                        function: sendRequestThroughRouter
                        class: Illuminate\Foundation\Http\Kernel
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                        line: 300
                        function: handle
                        class: Illuminate\Foundation\Http\Kernel
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                        line: 288
                        function: callLaravelOrLumenRoute
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                        line: 91
                        function: makeApiCall
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                        line: 44
                        function: makeResponseCall
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                        line: 35
                        function: makeResponseCallIfConditionsPass
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                        line: 236
                        function: __invoke
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                        line: 163
                        function: iterateThroughStrategies
                        class: Knuckles\Scribe\Extracting\Extractor
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                        line: 95
                        function: fetchResponses
                        class: Knuckles\Scribe\Extracting\Extractor
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                        line: 125
                        function: processRoute
                        class: Knuckles\Scribe\Extracting\Extractor
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                        line: 72
                        function: extractEndpointsInfoFromLaravelApp
                        class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                        line: 50
                        function: extractEndpointsInfoAndWriteToDisk
                        class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\knuckleswtf\scribe\src\Commands\GenerateDocumentation.php'
                        line: 53
                        function: get
                        class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                        line: 36
                        function: handle
                        class: Knuckles\Scribe\Commands\GenerateDocumentation
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Container\Util.php'
                        line: 41
                        function: 'Illuminate\Container\{closure}'
                        class: Illuminate\Container\BoundMethod
                        type: '::'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                        line: 93
                        function: unwrapIfClosure
                        class: Illuminate\Container\Util
                        type: '::'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                        line: 35
                        function: callBoundMethod
                        class: Illuminate\Container\BoundMethod
                        type: '::'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Container\Container.php'
                        line: 662
                        function: call
                        class: Illuminate\Container\BoundMethod
                        type: '::'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Console\Command.php'
                        line: 211
                        function: call
                        class: Illuminate\Container\Container
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\symfony\console\Command\Command.php'
                        line: 326
                        function: execute
                        class: Illuminate\Console\Command
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Console\Command.php'
                        line: 180
                        function: run
                        class: Symfony\Component\Console\Command\Command
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\symfony\console\Application.php'
                        line: 1096
                        function: run
                        class: Illuminate\Console\Command
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\symfony\console\Application.php'
                        line: 324
                        function: doRunCommand
                        class: Symfony\Component\Console\Application
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\symfony\console\Application.php'
                        line: 175
                        function: doRun
                        class: Symfony\Component\Console\Application
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Foundation\Console\Kernel.php'
                        line: 201
                        function: run
                        class: Symfony\Component\Console\Application
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\artisan'
                        line: 35
                        function: handle
                        class: Illuminate\Foundation\Console\Kernel
                        type: '->'
                    items:
                      type: object
                      properties:
                        file:
                          type: string
                          example: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Foundation\Bootstrap\HandleExceptions.php'
                        line:
                          type: integer
                          example: 255
                        function:
                          type: string
                          example: handleError
                        class:
                          type: string
                          example: Illuminate\Foundation\Bootstrap\HandleExceptions
                        type:
                          type: string
                          example: '->'
      tags:
        - Endpoints
      security: []
  /api/v1/auth/password/forget_request:
    post:
      summary: ''
      operationId: postApiV1AuthPasswordForget_request
      description: ''
      parameters: []
      responses:
        500:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Undefined variable $user'
                  exception: ErrorException
                  file: 'C:\laragon\www\jumpintojob-backend\app\Http\Controllers\api\v1\PasswordResetController.php'
                  line: 25
                  trace:
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Foundation\Bootstrap\HandleExceptions.php'
                      line: 255
                      function: handleError
                      class: Illuminate\Foundation\Bootstrap\HandleExceptions
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\app\Http\Controllers\api\v1\PasswordResetController.php'
                      line: 25
                      function: 'Illuminate\Foundation\Bootstrap\{closure}'
                      class: Illuminate\Foundation\Bootstrap\HandleExceptions
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Routing\Controller.php'
                      line: 54
                      function: forgetRequest
                      class: App\Http\Controllers\api\v1\PasswordResetController
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Routing\ControllerDispatcher.php'
                      line: 43
                      function: callAction
                      class: Illuminate\Routing\Controller
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Routing\Route.php'
                      line: 259
                      function: dispatch
                      class: Illuminate\Routing\ControllerDispatcher
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Routing\Route.php'
                      line: 205
                      function: runController
                      class: Illuminate\Routing\Route
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                      line: 806
                      function: run
                      class: Illuminate\Routing\Route
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 144
                      function: 'Illuminate\Routing\{closure}'
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Routing\Middleware\SubstituteBindings.php'
                      line: 50
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 183
                      function: handle
                      class: Illuminate\Routing\Middleware\SubstituteBindings
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Routing\Middleware\ThrottleRequests.php'
                      line: 159
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Routing\Middleware\ThrottleRequests.php'
                      line: 125
                      function: handleRequest
                      class: Illuminate\Routing\Middleware\ThrottleRequests
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Routing\Middleware\ThrottleRequests.php'
                      line: 87
                      function: handleRequestUsingNamedLimiter
                      class: Illuminate\Routing\Middleware\ThrottleRequests
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 183
                      function: handle
                      class: Illuminate\Routing\Middleware\ThrottleRequests
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 119
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                      line: 805
                      function: then
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                      line: 784
                      function: runRouteWithinStack
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                      line: 748
                      function: runRoute
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                      line: 737
                      function: dispatchToRoute
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                      line: 200
                      function: dispatch
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 144
                      function: 'Illuminate\Foundation\Http\{closure}'
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\barryvdh\laravel-debugbar\src\Middleware\InjectDebugbar.php'
                      line: 59
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 183
                      function: handle
                      class: Barryvdh\Debugbar\Middleware\InjectDebugbar
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TransformsRequest.php'
                      line: 21
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull.php'
                      line: 31
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 183
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TransformsRequest.php'
                      line: 21
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TrimStrings.php'
                      line: 40
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 183
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TrimStrings
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\ValidatePostSize.php'
                      line: 27
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 183
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\ValidatePostSize
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance.php'
                      line: 99
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 183
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Http\Middleware\HandleCors.php'
                      line: 62
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 183
                      function: handle
                      class: Illuminate\Http\Middleware\HandleCors
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Http\Middleware\TrustProxies.php'
                      line: 39
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 183
                      function: handle
                      class: Illuminate\Http\Middleware\TrustProxies
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 119
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                      line: 175
                      function: then
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                      line: 144
                      function: sendRequestThroughRouter
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                      line: 300
                      function: handle
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                      line: 288
                      function: callLaravelOrLumenRoute
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                      line: 91
                      function: makeApiCall
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                      line: 44
                      function: makeResponseCall
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                      line: 35
                      function: makeResponseCallIfConditionsPass
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                      line: 236
                      function: __invoke
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                      line: 163
                      function: iterateThroughStrategies
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                      line: 95
                      function: fetchResponses
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                      line: 125
                      function: processRoute
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                      line: 72
                      function: extractEndpointsInfoFromLaravelApp
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                      line: 50
                      function: extractEndpointsInfoAndWriteToDisk
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\knuckleswtf\scribe\src\Commands\GenerateDocumentation.php'
                      line: 53
                      function: get
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                      line: 36
                      function: handle
                      class: Knuckles\Scribe\Commands\GenerateDocumentation
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Container\Util.php'
                      line: 41
                      function: 'Illuminate\Container\{closure}'
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                      line: 93
                      function: unwrapIfClosure
                      class: Illuminate\Container\Util
                      type: '::'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                      line: 35
                      function: callBoundMethod
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Container\Container.php'
                      line: 662
                      function: call
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Console\Command.php'
                      line: 211
                      function: call
                      class: Illuminate\Container\Container
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\symfony\console\Command\Command.php'
                      line: 326
                      function: execute
                      class: Illuminate\Console\Command
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Console\Command.php'
                      line: 180
                      function: run
                      class: Symfony\Component\Console\Command\Command
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\symfony\console\Application.php'
                      line: 1096
                      function: run
                      class: Illuminate\Console\Command
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\symfony\console\Application.php'
                      line: 324
                      function: doRunCommand
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\symfony\console\Application.php'
                      line: 175
                      function: doRun
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Foundation\Console\Kernel.php'
                      line: 201
                      function: run
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: 'C:\laragon\www\jumpintojob-backend\artisan'
                      line: 35
                      function: handle
                      class: Illuminate\Foundation\Console\Kernel
                      type: '->'
                properties:
                  message:
                    type: string
                    example: 'Undefined variable $user'
                  exception:
                    type: string
                    example: ErrorException
                  file:
                    type: string
                    example: 'C:\laragon\www\jumpintojob-backend\app\Http\Controllers\api\v1\PasswordResetController.php'
                  line:
                    type: integer
                    example: 25
                  trace:
                    type: array
                    example:
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Foundation\Bootstrap\HandleExceptions.php'
                        line: 255
                        function: handleError
                        class: Illuminate\Foundation\Bootstrap\HandleExceptions
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\app\Http\Controllers\api\v1\PasswordResetController.php'
                        line: 25
                        function: 'Illuminate\Foundation\Bootstrap\{closure}'
                        class: Illuminate\Foundation\Bootstrap\HandleExceptions
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Routing\Controller.php'
                        line: 54
                        function: forgetRequest
                        class: App\Http\Controllers\api\v1\PasswordResetController
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Routing\ControllerDispatcher.php'
                        line: 43
                        function: callAction
                        class: Illuminate\Routing\Controller
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Routing\Route.php'
                        line: 259
                        function: dispatch
                        class: Illuminate\Routing\ControllerDispatcher
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Routing\Route.php'
                        line: 205
                        function: runController
                        class: Illuminate\Routing\Route
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                        line: 806
                        function: run
                        class: Illuminate\Routing\Route
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 144
                        function: 'Illuminate\Routing\{closure}'
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Routing\Middleware\SubstituteBindings.php'
                        line: 50
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 183
                        function: handle
                        class: Illuminate\Routing\Middleware\SubstituteBindings
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Routing\Middleware\ThrottleRequests.php'
                        line: 159
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Routing\Middleware\ThrottleRequests.php'
                        line: 125
                        function: handleRequest
                        class: Illuminate\Routing\Middleware\ThrottleRequests
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Routing\Middleware\ThrottleRequests.php'
                        line: 87
                        function: handleRequestUsingNamedLimiter
                        class: Illuminate\Routing\Middleware\ThrottleRequests
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 183
                        function: handle
                        class: Illuminate\Routing\Middleware\ThrottleRequests
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 119
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                        line: 805
                        function: then
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                        line: 784
                        function: runRouteWithinStack
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                        line: 748
                        function: runRoute
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                        line: 737
                        function: dispatchToRoute
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                        line: 200
                        function: dispatch
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 144
                        function: 'Illuminate\Foundation\Http\{closure}'
                        class: Illuminate\Foundation\Http\Kernel
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\barryvdh\laravel-debugbar\src\Middleware\InjectDebugbar.php'
                        line: 59
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 183
                        function: handle
                        class: Barryvdh\Debugbar\Middleware\InjectDebugbar
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TransformsRequest.php'
                        line: 21
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull.php'
                        line: 31
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 183
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TransformsRequest.php'
                        line: 21
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TrimStrings.php'
                        line: 40
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 183
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\TrimStrings
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\ValidatePostSize.php'
                        line: 27
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 183
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\ValidatePostSize
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance.php'
                        line: 99
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 183
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Http\Middleware\HandleCors.php'
                        line: 62
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 183
                        function: handle
                        class: Illuminate\Http\Middleware\HandleCors
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Http\Middleware\TrustProxies.php'
                        line: 39
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 183
                        function: handle
                        class: Illuminate\Http\Middleware\TrustProxies
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 119
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                        line: 175
                        function: then
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                        line: 144
                        function: sendRequestThroughRouter
                        class: Illuminate\Foundation\Http\Kernel
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                        line: 300
                        function: handle
                        class: Illuminate\Foundation\Http\Kernel
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                        line: 288
                        function: callLaravelOrLumenRoute
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                        line: 91
                        function: makeApiCall
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                        line: 44
                        function: makeResponseCall
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                        line: 35
                        function: makeResponseCallIfConditionsPass
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                        line: 236
                        function: __invoke
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                        line: 163
                        function: iterateThroughStrategies
                        class: Knuckles\Scribe\Extracting\Extractor
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                        line: 95
                        function: fetchResponses
                        class: Knuckles\Scribe\Extracting\Extractor
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                        line: 125
                        function: processRoute
                        class: Knuckles\Scribe\Extracting\Extractor
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                        line: 72
                        function: extractEndpointsInfoFromLaravelApp
                        class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                        line: 50
                        function: extractEndpointsInfoAndWriteToDisk
                        class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\knuckleswtf\scribe\src\Commands\GenerateDocumentation.php'
                        line: 53
                        function: get
                        class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                        line: 36
                        function: handle
                        class: Knuckles\Scribe\Commands\GenerateDocumentation
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Container\Util.php'
                        line: 41
                        function: 'Illuminate\Container\{closure}'
                        class: Illuminate\Container\BoundMethod
                        type: '::'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                        line: 93
                        function: unwrapIfClosure
                        class: Illuminate\Container\Util
                        type: '::'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                        line: 35
                        function: callBoundMethod
                        class: Illuminate\Container\BoundMethod
                        type: '::'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Container\Container.php'
                        line: 662
                        function: call
                        class: Illuminate\Container\BoundMethod
                        type: '::'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Console\Command.php'
                        line: 211
                        function: call
                        class: Illuminate\Container\Container
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\symfony\console\Command\Command.php'
                        line: 326
                        function: execute
                        class: Illuminate\Console\Command
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Console\Command.php'
                        line: 180
                        function: run
                        class: Symfony\Component\Console\Command\Command
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\symfony\console\Application.php'
                        line: 1096
                        function: run
                        class: Illuminate\Console\Command
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\symfony\console\Application.php'
                        line: 324
                        function: doRunCommand
                        class: Symfony\Component\Console\Application
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\symfony\console\Application.php'
                        line: 175
                        function: doRun
                        class: Symfony\Component\Console\Application
                        type: '->'
                      -
                        file: 'C:\laragon\www\jumpintojob-backend\vendor\laravel\framework\src\Illuminate\Foundation\Console\Kernel.php'
                        line: 201
                        function: run
                        class: Symfony\Component\Console\Application
                        type: '->'
[...]
