openapi: 3.0.3
info:
  title: CareerHubGlobal
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://unitechholdingsltd.com'
paths:
  /api/v1/auth/job-seeker/login:
    post:
      summary: 'fields required: email, password, remember_me'
      operationId: fieldsRequiredEmailPasswordRememberMe
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'Must be a valid email address.'
                  example: duane23@example.net
                password:
                  type: string
                  description: 'Must be at least 6 characters.'
                  example: 'eAhb@A:4<@R0U'
                remember_me:
                  type: boolean
                  description: ''
                  example: false
              required:
                - email
                - password
      security: []
  /api/v1/auth/employee/login:
    post:
      summary: 'fields required: email, password, remember_me'
      operationId: fieldsRequiredEmailPasswordRememberMe
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'Must be a valid email address.'
                  example: feest.keshaun@example.com
                password:
                  type: string
                  description: 'Must be at least 6 characters.'
                  example: 'dXyl6%"6Za@8OerR'
                remember_me:
                  type: boolean
                  description: ''
                  example: false
              required:
                - email
                - password
      security: []
  /api/v1/auth/job-seeker/signup:
    post:
      summary: "new user sign up endpoint\nparams: first_name, last_name, email, password, password_confirmation, register_by, g-recaptcha-response"
      operationId: newUserSignUpEndpointparamsFirstNameLastNameEmailPasswordPasswordConfirmationRegisterByGRecaptchaResponse
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                  description: ''
                  example: voluptas
                last_name:
                  type: string
                  description: ''
                  example: quos
                password:
                  type: string
                  description: ''
                  example: aperiam
                user_type:
                  type: string
                  description: ''
                  example: job_seeker
                  enum:
                    - job_seeker
                email:
                  type: string
                  description: 'This field is required when <code>register_by</code> is <code>email</code>.'
                  example: null
                verification_code:
                  type: string
                  description: ''
                  example: null
                user_plan_id:
                  type: string
                  description: ''
                  example: null
                new_email_verification_code:
                  type: string
                  description: ''
                  example: null
                referral_code:
                  type: string
                  description: ''
                  example: null
                g-recaptcha-response:
                  type: string
                  description: ''
                  example: null
              required:
                - first_name
                - last_name
                - password
      security: []
  /api/v1/auth/employee/signup:
    post:
      summary: "new user sign up endpoint\nparams: first_name, last_name, email, password, password_confirmation, register_by, g-recaptcha-response"
      operationId: newUserSignUpEndpointparamsFirstNameLastNameEmailPasswordPasswordConfirmationRegisterByGRecaptchaResponse
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                  description: ''
                  example: quos
                last_name:
                  type: string
                  description: ''
                  example: ad
                password:
                  type: string
                  description: ''
                  example: autem
                user_type:
                  type: string
                  description: ''
                  example: employee
                  enum:
                    - employee
                email:
                  type: string
                  description: 'This field is required when <code>register_by</code> is <code>email</code>.'
                  example: null
                verification_code:
                  type: string
                  description: ''
                  example: null
                user_plan_id:
                  type: string
                  description: ''
                  example: null
                new_email_verification_code:
                  type: string
                  description: ''
                  example: null
                referral_code:
                  type: string
                  description: ''
                  example: null
                g-recaptcha-response:
                  type: string
                  description: ''
                  example: null
              required:
                - first_name
                - last_name
                - password
      security: []
  /api/v1/auth/social-login:
    post:
      summary: ''
      operationId: postApiV1AuthSocialLogin
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/v1/auth/password/forget_request:
    post:
      summary: ''
      operationId: postApiV1AuthPasswordForget_request
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/v1/auth/password/confirm_reset:
    post:
      summary: ''
      operationId: postApiV1AuthPasswordConfirm_reset
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/v1/auth/password/resend_code:
    post:
      summary: ''
      operationId: postApiV1AuthPasswordResend_code
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/v1/auth/resend_code:
    post:
      summary: "user email verification resend endpoint\nparams: user_id, verify_by (email or phone)"
      operationId: userEmailVerificationResendEndpointparamsUserIdVerifyByemailOrPhone
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/v1/auth/confirm_code:
    post:
      summary: ''
      operationId: postApiV1AuthConfirm_code
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  '/api/v1/auth/account/{user_id}/verify/{code}':
    get:
      summary: ''
      operationId: getApiV1AuthAccountUser_idVerifyCode
      description: ''
      parameters: []
      responses:
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'No query results for model [App\Models\User].'
                  exception: Symfony\Component\HttpKernel\Exception\NotFoundHttpException
                  file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Exceptions/Handler.php
                  line: 423
                  trace:
                    -
                      file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Exceptions/Handler.php
                      line: 399
                      function: prepareException
                      class: Illuminate\Foundation\Exceptions\Handler
                      type: '->'
                    -
                      file: /home/unitechh/public_html/vendor/nunomaduro/collision/src/Adapters/Laravel/ExceptionHandler.php
                      line: 54
                      function: render
                      class: Illuminate\Foundation\Exceptions\Handler
                      type: '->'
                    -
                      file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Routing/Pipeline.php
                      line: 51
                      function: render
                      class: NunoMaduro\Collision\Adapters\Laravel\ExceptionHandler
                      type: '->'
                    -
                      file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 143
                      function: handleException
                      class: Illuminate\Routing\Pipeline
                      type: '->'
                    -
                      file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Routing/Middleware/SubstituteBindings.php
                      line: 50
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 180
                      function: handle
                      class: Illuminate\Routing\Middleware\SubstituteBindings
                      type: '->'
                    -
                      file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Routing/Middleware/ThrottleRequests.php
                      line: 159
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Routing/Middleware/ThrottleRequests.php
                      line: 135
                      function: handleRequest
                      class: Illuminate\Routing\Middleware\ThrottleRequests
                      type: '->'
                    -
                      file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Routing/Middleware/ThrottleRequests.php
                      line: 87
                      function: handleRequestUsingNamedLimiter
                      class: Illuminate\Routing\Middleware\ThrottleRequests
                      type: '->'
                    -
                      file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 180
                      function: handle
                      class: Illuminate\Routing\Middleware\ThrottleRequests
                      type: '->'
                    -
                      file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 116
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                      line: 800
                      function: then
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                      line: 777
                      function: runRouteWithinStack
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                      line: 741
                      function: runRoute
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                      line: 730
                      function: dispatchToRoute
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                      line: 200
                      function: dispatch
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 141
                      function: 'Illuminate\Foundation\Http\{closure}'
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: /home/unitechh/public_html/vendor/barryvdh/laravel-debugbar/src/Middleware/InjectDebugbar.php
                      line: 59
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 180
                      function: handle
                      class: Barryvdh\Debugbar\Middleware\InjectDebugbar
                      type: '->'
                    -
                      file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TransformsRequest.php
                      line: 21
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/ConvertEmptyStringsToNull.php
                      line: 31
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                      type: '->'
                    -
                      file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 180
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull
                      type: '->'
                    -
                      file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TransformsRequest.php
                      line: 21
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TrimStrings.php
                      line: 40
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                      type: '->'
                    -
                      file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 180
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TrimStrings
                      type: '->'
                    -
                      file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/ValidatePostSize.php
                      line: 27
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 180
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\ValidatePostSize
                      type: '->'
                    -
                      file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/PreventRequestsDuringMaintenance.php
                      line: 89
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 180
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance
                      type: '->'
                    -
                      file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Http/Middleware/HandleCors.php
                      line: 62
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 180
                      function: handle
                      class: Illuminate\Http\Middleware\HandleCors
                      type: '->'
                    -
                      file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Http/Middleware/TrustProxies.php
                      line: 39
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 180
                      function: handle
                      class: Illuminate\Http\Middleware\TrustProxies
                      type: '->'
                    -
                      file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 116
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                      line: 175
                      function: then
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                      line: 144
                      function: sendRequestThroughRouter
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: /home/unitechh/public_html/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                      line: 299
                      function: handle
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: /home/unitechh/public_html/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                      line: 287
                      function: callLaravelOrLumenRoute
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: /home/unitechh/public_html/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                      line: 92
                      function: makeApiCall
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: /home/unitechh/public_html/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                      line: 45
                      function: makeResponseCall
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: /home/unitechh/public_html/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                      line: 35
                      function: makeResponseCallIfConditionsPass
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: /home/unitechh/public_html/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                      line: 209
                      function: __invoke
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: /home/unitechh/public_html/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                      line: 166
                      function: iterateThroughStrategies
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: /home/unitechh/public_html/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                      line: 95
                      function: fetchResponses
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: /home/unitechh/public_html/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                      line: 124
                      function: processRoute
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: /home/unitechh/public_html/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                      line: 71
                      function: extractEndpointsInfoFromLaravelApp
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: /home/unitechh/public_html/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                      line: 49
                      function: extractEndpointsInfoAndWriteToDisk
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: /home/unitechh/public_html/vendor/knuckleswtf/scribe/src/Commands/GenerateDocumentation.php
                      line: 51
                      function: get
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Container/BoundMethod.php
                      line: 36
                      function: handle
                      class: Knuckles\Scribe\Commands\GenerateDocumentation
                      type: '->'
                    -
                      file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Container/Util.php
                      line: 41
                      function: 'Illuminate\Container\{closure}'
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Container/BoundMethod.php
                      line: 93
                      function: unwrapIfClosure
                      class: Illuminate\Container\Util
                      type: '::'
                    -
                      file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Container/BoundMethod.php
                      line: 37
                      function: callBoundMethod
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Container/Container.php
                      line: 662
                      function: call
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Console/Command.php
                      line: 211
                      function: call
                      class: Illuminate\Container\Container
                      type: '->'
                    -
                      file: /home/unitechh/public_html/vendor/symfony/console/Command/Command.php
                      line: 326
                      function: execute
                      class: Illuminate\Console\Command
                      type: '->'
                    -
                      file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Console/Command.php
                      line: 181
                      function: run
                      class: Symfony\Component\Console\Command\Command
                      type: '->'
                    -
                      file: /home/unitechh/public_html/vendor/symfony/console/Application.php
                      line: 1081
                      function: run
                      class: Illuminate\Console\Command
                      type: '->'
                    -
                      file: /home/unitechh/public_html/vendor/symfony/console/Application.php
                      line: 320
                      function: doRunCommand
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: /home/unitechh/public_html/vendor/symfony/console/Application.php
                      line: 174
                      function: doRun
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Console/Kernel.php
                      line: 201
                      function: run
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: /home/unitechh/public_html/artisan
                      line: 37
                      function: handle
                      class: Illuminate\Foundation\Console\Kernel
                      type: '->'
                properties:
                  message:
                    type: string
                    example: 'No query results for model [App\Models\User].'
                  exception:
                    type: string
                    example: Symfony\Component\HttpKernel\Exception\NotFoundHttpException
                  file:
                    type: string
                    example: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Exceptions/Handler.php
                  line:
                    type: integer
                    example: 423
                  trace:
                    type: array
                    example:
                      -
                        file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Exceptions/Handler.php
                        line: 399
                        function: prepareException
                        class: Illuminate\Foundation\Exceptions\Handler
                        type: '->'
                      -
                        file: /home/unitechh/public_html/vendor/nunomaduro/collision/src/Adapters/Laravel/ExceptionHandler.php
                        line: 54
                        function: render
                        class: Illuminate\Foundation\Exceptions\Handler
                        type: '->'
                      -
                        file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Routing/Pipeline.php
                        line: 51
                        function: render
                        class: NunoMaduro\Collision\Adapters\Laravel\ExceptionHandler
                        type: '->'
                      -
                        file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 143
                        function: handleException
                        class: Illuminate\Routing\Pipeline
                        type: '->'
                      -
                        file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Routing/Middleware/SubstituteBindings.php
                        line: 50
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 180
                        function: handle
                        class: Illuminate\Routing\Middleware\SubstituteBindings
                        type: '->'
                      -
                        file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Routing/Middleware/ThrottleRequests.php
                        line: 159
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Routing/Middleware/ThrottleRequests.php
                        line: 135
                        function: handleRequest
                        class: Illuminate\Routing\Middleware\ThrottleRequests
                        type: '->'
                      -
                        file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Routing/Middleware/ThrottleRequests.php
                        line: 87
                        function: handleRequestUsingNamedLimiter
                        class: Illuminate\Routing\Middleware\ThrottleRequests
                        type: '->'
                      -
                        file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 180
                        function: handle
                        class: Illuminate\Routing\Middleware\ThrottleRequests
                        type: '->'
                      -
                        file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 116
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                        line: 800
                        function: then
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                        line: 777
                        function: runRouteWithinStack
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                        line: 741
                        function: runRoute
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                        line: 730
                        function: dispatchToRoute
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                        line: 200
                        function: dispatch
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 141
                        function: 'Illuminate\Foundation\Http\{closure}'
                        class: Illuminate\Foundation\Http\Kernel
                        type: '->'
                      -
                        file: /home/unitechh/public_html/vendor/barryvdh/laravel-debugbar/src/Middleware/InjectDebugbar.php
                        line: 59
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 180
                        function: handle
                        class: Barryvdh\Debugbar\Middleware\InjectDebugbar
                        type: '->'
                      -
                        file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TransformsRequest.php
                        line: 21
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/ConvertEmptyStringsToNull.php
                        line: 31
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                        type: '->'
                      -
                        file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 180
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull
                        type: '->'
                      -
                        file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TransformsRequest.php
                        line: 21
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TrimStrings.php
                        line: 40
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                        type: '->'
                      -
                        file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 180
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\TrimStrings
                        type: '->'
                      -
                        file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/ValidatePostSize.php
                        line: 27
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 180
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\ValidatePostSize
                        type: '->'
                      -
                        file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/PreventRequestsDuringMaintenance.php
                        line: 89
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 180
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance
                        type: '->'
                      -
                        file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Http/Middleware/HandleCors.php
                        line: 62
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 180
                        function: handle
                        class: Illuminate\Http\Middleware\HandleCors
                        type: '->'
                      -
                        file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Http/Middleware/TrustProxies.php
                        line: 39
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 180
                        function: handle
                        class: Illuminate\Http\Middleware\TrustProxies
                        type: '->'
                      -
                        file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 116
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                        line: 175
                        function: then
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                        line: 144
                        function: sendRequestThroughRouter
                        class: Illuminate\Foundation\Http\Kernel
                        type: '->'
                      -
                        file: /home/unitechh/public_html/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                        line: 299
                        function: handle
                        class: Illuminate\Foundation\Http\Kernel
                        type: '->'
                      -
                        file: /home/unitechh/public_html/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                        line: 287
                        function: callLaravelOrLumenRoute
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: /home/unitechh/public_html/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                        line: 92
                        function: makeApiCall
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: /home/unitechh/public_html/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                        line: 45
                        function: makeResponseCall
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: /home/unitechh/public_html/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                        line: 35
                        function: makeResponseCallIfConditionsPass
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: /home/unitechh/public_html/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                        line: 209
                        function: __invoke
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: /home/unitechh/public_html/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                        line: 166
                        function: iterateThroughStrategies
                        class: Knuckles\Scribe\Extracting\Extractor
                        type: '->'
                      -
                        file: /home/unitechh/public_html/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                        line: 95
                        function: fetchResponses
                        class: Knuckles\Scribe\Extracting\Extractor
                        type: '->'
                      -
                        file: /home/unitechh/public_html/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                        line: 124
                        function: processRoute
                        class: Knuckles\Scribe\Extracting\Extractor
                        type: '->'
                      -
                        file: /home/unitechh/public_html/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                        line: 71
                        function: extractEndpointsInfoFromLaravelApp
                        class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                        type: '->'
                      -
                        file: /home/unitechh/public_html/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                        line: 49
                        function: extractEndpointsInfoAndWriteToDisk
                        class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                        type: '->'
                      -
                        file: /home/unitechh/public_html/vendor/knuckleswtf/scribe/src/Commands/GenerateDocumentation.php
                        line: 51
                        function: get
                        class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                        type: '->'
                      -
                        file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Container/BoundMethod.php
                        line: 36
                        function: handle
                        class: Knuckles\Scribe\Commands\GenerateDocumentation
                        type: '->'
                      -
                        file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Container/Util.php
                        line: 41
                        function: 'Illuminate\Container\{closure}'
                        class: Illuminate\Container\BoundMethod
                        type: '::'
                      -
                        file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Container/BoundMethod.php
                        line: 93
                        function: unwrapIfClosure
                        class: Illuminate\Container\Util
                        type: '::'
                      -
                        file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Container/BoundMethod.php
                        line: 37
                        function: callBoundMethod
                        class: Illuminate\Container\BoundMethod
                        type: '::'
                      -
                        file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Container/Container.php
                        line: 662
                        function: call
                        class: Illuminate\Container\BoundMethod
                        type: '::'
                      -
                        file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Console/Command.php
                        line: 211
                        function: call
                        class: Illuminate\Container\Container
                        type: '->'
                      -
                        file: /home/unitechh/public_html/vendor/symfony/console/Command/Command.php
                        line: 326
                        function: execute
                        class: Illuminate\Console\Command
                        type: '->'
                      -
                        file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Console/Command.php
                        line: 181
                        function: run
                        class: Symfony\Component\Console\Command\Command
                        type: '->'
                      -
                        file: /home/unitechh/public_html/vendor/symfony/console/Application.php
                        line: 1081
                        function: run
                        class: Illuminate\Console\Command
                        type: '->'
                      -
                        file: /home/unitechh/public_html/vendor/symfony/console/Application.php
                        line: 320
                        function: doRunCommand
                        class: Symfony\Component\Console\Application
                        type: '->'
                      -
                        file: /home/unitechh/public_html/vendor/symfony/console/Application.php
                        line: 174
                        function: doRun
                        class: Symfony\Component\Console\Application
                        type: '->'
                      -
                        file: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Console/Kernel.php
                        line: 201
                        function: run
                        class: Symfony\Component\Console\Application
                        type: '->'
                      -
                        file: /home/unitechh/public_html/artisan
                        line: 37
                        function: handle
                        class: Illuminate\Foundation\Console\Kernel
                        type: '->'
                    items:
                      type: object
                      properties:
                        file:
                          type: string
                          example: /home/unitechh/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Exceptions/Handler.php
                        line:
                          type: integer
                          example: 399
                        function:
                          type: string
                          example: prepareException
                        class:
                          type: string
                          example: Illuminate\Foundation\Exceptions\Handler
                        type:
                          type: string
                          example: '->'
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: user_id
        description: 'The ID of the user.'
        example: aut
        required: true
        schema:
          type: string
      -
        in: path
        name: code
        description: ''
        example: cum
        required: true
        schema:
          type: string
  /api/v1/user:
    get:
      summary: ''
      operationId: getApiV1User
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
  /api/v1/user/isBanned:
    get:
      summary: ''
      operationId: getApiV1UserIsBanned
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
  /api/v1/user/isVerified:
    get:
      summary: ''
      operationId: getApiV1UserIsVerified
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
  /api/v1/logout:
    get:
      summary: ''
      operationId: getApiV1Logout
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
  /api/v1/profile:
    get:
      summary: ''
      operationId: getApiV1Profile
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
  /api/v1/profile/update:
    put:
      summary: ''
      operationId: putApiV1ProfileUpdate
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: false
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                avatar:
                  type: string
                  format: binary
                  description: 'Must be an image. Must not be greater than 4048 kilobytes.'
                country:
                  type: string
                  description: ''
                  example: null
                state:
                  type: string
                  description: ''
                  example: null
                street:
                  type: string
                  description: ''
                  example: null
                city:
                  type: string
                  description: ''
                  example: null
                postal_code:
                  type: string
                  description: ''
                  example: null
                phone:
                  type: string
                  description: ''
                  example: null
                address_id:
                  type: string
                  description: ''
                  example: null
                banned:
                  type: string
                  description: ''
                  example: null
                customer_package_id:
                  type: string
                  description: ''
                  example: null
                ip:
                  type: string
                  description: ''
                  example: null
                iso_code:
                  type: string
                  description: ''
                  example: null
                zip_code:
                  type: string
                  description: ''
                  example: null
                lat:
                  type: string
                  description: ''
                  example: null
                lon:
                  type: string
                  description: ''
                  example: null
                timezone:
                  type: string
                  description: ''
                  example: null
                currency:
                  type: string
                  description: ''
                  example: null
      security: []
  /api/v1/cv/create:
    post:
      summary: ''
      operationId: postApiV1CvCreate
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: integer
                  description: ''
                  example: 12
                cv_link:
                  type: string
                  description: ''
                  example: null
                title:
                  type: string
                  description: ''
                  example: ut
                summary:
                  type: string
                  description: ''
                  example: aut
              required:
                - title
                - summary
      security: []
  '/api/v1/cv/update/{id}':
    put:
      summary: ''
      operationId: putApiV1CvUpdateId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: integer
                  description: ''
                  example: 13
                cv_link:
                  type: string
                  description: ''
                  example: null
                title:
                  type: string
                  description: ''
                  example: esse
                summary:
                  type: string
                  description: ''
                  example: voluptatem
              required:
                - title
                - summary
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the update.'
        example: magnam
        required: true
        schema:
          type: string
  '/api/v1/cv/delete/{CV}':
    delete:
      summary: ''
      operationId: deleteApiV1CvDeleteCV
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: CV
        description: ''
        example: 4
        required: true
        schema:
          type: integer
  /api/v1/cv/get:
    get:
      summary: ''
      operationId: getApiV1CvGet
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
  '/api/v1/cv/get/all-details/{CV}':
    get:
      summary: ''
      operationId: getApiV1CvGetAllDetailsCV
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: CV
        description: ''
        example: 11
        required: true
        schema:
          type: integer
  '/api/v1/education/add/{education}':
    post:
      summary: ''
      operationId: postApiV1EducationAddEducation
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                cv_id:
                  type: integer
                  description: ''
                  example: 4
                institution:
                  type: string
                  description: ''
                  example: in
                degree:
                  type: string
                  description: ''
                  example: expedita
                field_of_study:
                  type: string
                  description: ''
                  example: omnis
                start_date:
                  type: string
                  description: ''
                  example: sed
                end_date:
                  type: string
                  description: ''
                  example: null
                description:
                  type: string
                  description: ''
                  example: null
                undergraduate:
                  type: string
                  description: ''
                  example: aliquid
              required:
                - cv_id
                - institution
                - degree
                - field_of_study
                - start_date
                - undergraduate
      security: []
    parameters:
      -
        in: path
        name: education
        description: ''
        example: veniam
        required: true
        schema:
          type: string
  '/api/v1/education/get/{education_id}':
    post:
      summary: ''
      operationId: postApiV1EducationGetEducation_id
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: education_id
        description: 'The ID of the education.'
        example: 10
        required: true
        schema:
          type: integer
  '/api/v1/education/update/{education_id}':
    put:
      summary: ''
      operationId: putApiV1EducationUpdateEducation_id
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                cv_id:
                  type: integer
                  description: ''
                  example: 7
                institution:
                  type: string
                  description: ''
                  example: corrupti
                degree:
                  type: string
                  description: ''
                  example: rerum
                field_of_study:
                  type: string
                  description: ''
                  example: ut
                start_date:
                  type: string
                  description: ''
                  example: voluptas
                end_date:
                  type: string
                  description: ''
                  example: null
                description:
                  type: string
                  description: ''
                  example: null
                undergraduate:
                  type: string
                  description: ''
                  example: at
              required:
                - cv_id
                - institution
                - degree
                - field_of_study
                - start_date
                - undergraduate
      security: []
    parameters:
      -
        in: path
        name: education_id
        description: 'The ID of the education.'
        example: 8
        required: true
        schema:
          type: integer
  '/api/v1/education/delete/{education_id}':
    delete:
      summary: ''
      operationId: deleteApiV1EducationDeleteEducation_id
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: education_id
        description: 'The ID of the education.'
        example: 20
        required: true
        schema:
          type: integer
tags:
  -
    name: Endpoints
    description: ''
